* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(images/background.png) no-repeat, #f7f7f8;
  /* background: url(images/background2.jpeg)lightgray -1707.943px -977.622px / 219.545% 308.734% no-repeat, #F7F7F8; */

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  font-size: 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50px;
}

.header .logo img {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  height: 70px;
}

#shadow {
  display: none;
  position: fixed;
  z-index: 5500;
  /* pointer-events: none; */
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  width: 120%;
  height: 100%;
  top: 0;
  left: -10%;
}
#shadow.expanded {
  display: block;
}
.nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  background: #f7f7f8;
  color: #f7f7f8;
  font-size: 2rem;
  height: 100vh;
  right: -40rem;
  padding-top: 62px;
  position: fixed;
  top: 0;
  width: 430px;
  z-index: 6000;
  display: flex;
  justify-content: center;
}
.nav.expanded {
  right: 0;
}
.nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.nav ul li {
  margin: 0;
}
.nav ul li button {
  border-radius: 16px;
  padding: 24px 28px;
  width: 394px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: #ffffff;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 24px;
  box-shadow: 0px -12px 65.9px 0px rgba(189, 189, 189, 0.15);
}
.nav ul li button img {
  margin: 0;
  width: 30px;
}
.nav ul li img {
  margin-bottom: 65px;
}

#hamburgerMenu {
  width: 40px;
  height: 40px;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4px 4px;
}
#hamburgerMenu.expanded {
  background: none;
}
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;

  width: 40px;
  z-index: 2;
}
.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar {
  background: #000;
  height: 3px;
  border-radius: 30px;
  width: 70%;
  box-shadow: 0 8px, 0 -8px;
}
.nav-toggle.expanded .nav-toggle-bar {
  display: none;
}

.button-container {
  border-radius: 16px;

  padding: 48px 61px;
  background-color: #ffffff;
  box-shadow: 0px -12px 65.9px 0px rgba(189, 189, 189, 0.15);
}
.button-container h3 {
  margin: 0;
  margin-bottom: 24px;
  color: #1c1a1a;
  font-size: 32px;
  font-weight: 700;
}

.button {
  margin-bottom: 16px;
  padding: 17px;
  width: 160px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #1c1a1a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button button {
  display: flex;
  justify-content: center;
}

.button p {
  margin: 0;
}
.custom {
  background-color: #ffe708;
  width: 100%;
  color: black;
  display: block;
  margin: 0;
}

#customInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#customInput input {
  padding: 12px 5px;
  width: 150px;
}

.none {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 400px;
  height: 300px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#close-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: lighter;
  font-size: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  position: relative;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.modal-close:hover {
  color: #ff0000;
}
.modal-input {
  /* width: calc(100% - 20px); */
  box-sizing: border-box;
  width: 100%;
  padding: 23px 32px;

  border: none;
  border-radius: 8px;
  background-color: #f7f7f8;
  cursor: pointer;
  font-size: 16px;
}
.modal-content button {
  margin-top: 10px;
}

#searchReservationModal {
  display: none;
}

.new-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.new-modal {
  background: #fff;
  border-radius: 16px;
  gap: 16px;
  max-width: 430px;
  width: 100%;

  padding: 48px 32px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-modal-close {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  background: transparent;
  padding: 0;
  border: none;
  width: 33px;
  color: #000;
  cursor: pointer;
}
.new-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.new-modal-input-dates {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  gap: 9px;
}
.new-modal-input.search {
  padding-left: 60px;
  background: url(images/searchGrey.svg) no-repeat left;
  background-position: 5%;
  background-color: #f7f7f8;
  background-size: 28px;
}
/* .new-modal-close:hover {
  color: #ff0000;
} */
#clientSelect,
.new-modal-input {
  box-sizing: border-box;
  width: 100%;
  padding: 23px 32px;

  border: none;
  border-radius: 8px;
  background-color: #f7f7f8;
  cursor: pointer;
  font-size: 16px;
}

#clientModal {
  z-index: 5000;
}
.modal-button {
  padding: 17px 24px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  color: black;
  background-color: #f6df08;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.filter-button {
  padding: 0;
  border: none;
  border-radius: 8px;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

#searchForm label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

/* #searchForm input {
  box-sizing: border-box;
  width: 100%;
  padding: 23px 32px;

  border: none;
  border-radius: 4px;
  background-color: #f7f7f8;
  cursor: pointer;
  font-size: 16px;
} */

#clearResultsBtn {
  display: none;
}

#clearResultsBtn:hover {
  background: #5a6268;
}

#searchResults {
  width: 100%;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}
#searchResults div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#searchResults div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  /*border-bottom: 1px solid #ddd;*/
}

#searchResults h3 {
  margin: 0 0 5px;
  font-size: 20px;
  color: #333;
}

#searchResults p {
  margin: 0;
  color: #1c1a1a;
  font-size: 24px;
  font-weight: 700;
}

@media print {
  #buttonContainer {
    display: none;
  }
  .header {
    display: none;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 100px;
}
.footer p {
  color: #746464;
  text-align: right;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
